<h1>Chess app</h1>

<p>
  Developed by Team Megatron
  <a href="https://github.com/team-megatron">
				<img src="/assets/kangaroo_icon.png"  height="64" width="64"/>
	</a>
</p>

<p>
   <a href="https://github.com/chuong">Chuong Nguyen </a>,
   <a href="https://github.com/dmk1991">David Kreuzburg</a>,
   <a href="https://github.com/iandelible">Ian Pan</a>,
   <a href="https://github.com/ryank01">Ryan Kawall</a> and
   <a href="https://github.com/jacobwgillespie">Jacob Gillespie</a>.
</p>

<%= button_to "See games", games_path, :class => "button", :method => :get %>
