<html>

  <head>
    <meta charset="UTF-8">
    <title>Chessboard using Pure CSS and HTML</title>
  </head>

  <body>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="left">
        <% for j in 1..8 %>
          <% row = 9-j %>
          <%= content_tag(:div, row.to_s, class: 'row')%>
        <% end %>
      </div>

      <div class="chessboard">
        <% pieces = @game.pieces %>
        <% for j in 1..8 %>
          <% row = 9-j %>
          <% for  i in 1..8 %>
            <% col = i %>
            <% piece = pieces.where(column: col, row: row) %>
            <% symbol = '' %>
            <% unless piece.empty? %>
              <% symbol = select_html_symbol(piece[0]) %>
            <% end %>
            <%= content_tag(:div, raw(symbol), class: @square_color[(row+col) % 2])%>
            <%= %>
          <% end %>
        <% end %>
      </div>

      <div class="bottom">
        <% file = ('a'..'h').to_a %>
        <% for i in 1..8 %>
          <% col = i %>
          <%= content_tag(:div, file[col-1], class: 'col')%>
        <% end %>
      </div>
    </div>
  </body>
</html>
