<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="left">
        <% for j in 1..8 %>
          <% row = 9-j %>
          <%= content_tag(:div, row.to_s, class: 'row')%>
        <% end %>
      </div>

      <div class="chessboard">
        <% pieces = @game.pieces %>
        <% for j in 1..8 %>
          <% row = 9-j %>
          <% for col in 1..8 %>
            <% piece = pieces.where(column: col, row: row) %>
            <%= content_tag(:div, raw(select_html_symbol(piece[0])), class: square_color(row, col)) %>
          <% end %>
        <% end %>
      </div>

      <div class="bottom">
        <% for col in 'a'..'h' %>
          <%= content_tag(:div, col, class: 'col')%>
        <% end %>
      </div>
    </div>
  </body>
</html>
