.chessboard {
  font-size: 45px;
}

.black {
  background-color: #999;
  height: 80px;
  width: 80px;
  border: 1px solid black;
}

.white {
  background-color: #fff;
  height: 80px;
  width: 80px;
  border: 1px solid black;
}

.row {
  height: 80px;
}

.coordinate {
  background-color: #fff;
  height: 80px;
  width: 80px;
  font-size: 30px;
}

// Once screen width gets small enough, we need to
// Have smaller boxes so that the whole board can still be seen.
@media (max-width: 550px) {
  .chessboard {
    font-size: 20px;
  }

  .black {
    background-color: #999;
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }

  .white {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }

  .row {
    height: 50px;
  }

  .coordinate {
    background-color: #fff;
    height: 50px;
    width: 50px;
    font-size: 15px;
  }
}

@media (min-width: 551px) and (max-height: 780px) {
  .chessboard {
    font-size: 20px;
  }

  .black {
    background-color: #999;
    height: 60px;
    width: 60px;
    border: 1px solid black;
  }

  .white {
    background-color: #fff;
    height: 60px;
    width: 60px;
    border: 1px solid black;
  }

  .row {
    height: 60px;
  }

  .coordinate {
    background-color: #fff;
    height: 60px;
    width: 60px;
    font-size: 15px;
  }
}

